@font-face {
    font-family: baldGilroy;
    src: url(/fonts/Gilroy-Bold.ttf);
  }

@font-face {
    font-family: mediumGilroy;
    src: url(/fonts/Gilroy-Medium.ttf);
}

html, body {
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
}

#header-text-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 65%;
}

h1.header-text {
    font-family: baldGilroy;
    font-size: 47px;
    color: #070707;
}

.default-text {
    font-family: mediumGilroy;
    font-size: 18px;
    color: #070707;   
}

div.vertical {
    transform: rotate(180deg);
}


div.vertical span {
    display: flex;    
    writing-mode: vertical-lr;
    padding: 2px 0px;
    font-family: baldGilroy;
    font-size: 18px;
    color: #070707;
}

div.vertical > span:first-child {
    color: #828282;
}

@media screen and (max-width: 500px) {
    div.vertical {
        display: none;
    }
}

.header-image {
    width: 65%;
    height: 55vh;
    background-image: url(/images/photographer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top; 
    overflow: visible;
} 

.title-text {
    font-family: baldGilroy;
    font-size: 34px;
    color: #070707;
}

#about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
}

#info {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;  
    align-items: center;
    text-align: center;
}

#skills {
    display: flex;
    justify-content: center;
    flex-direction: column;  
    align-items: center;

}

.on {
    filter: invert(0%) sepia(94%) saturate(14%) hue-rotate(353deg) brightness(93%) contrast(95%);
}

.off {
    filter: invert(97%) sepia(92%) saturate(1%) hue-rotate(110deg) brightness(112%) contrast(80%);
}

.skill-title {
    font-family: baldGilroy;
    font-size: 14px;
    text-align: center;
    color: #828282;
}

ul#programms li {
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

#programms {
    display: flex;
    width: 65%;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 400px) {
    #programms {
      flex-direction: column;
      justify-content: center;
    }
}

.programm {
    flex-direction: column;
    align-items: center;
}

.skill-estimation {
    display: flex;
    justify-content: space-between;
}

#portfolio {
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
}

#portfolio-items {
    display: flex;
    justify-content: center;
    flex-direction: column;  
    align-items: center;
    width: 100%;
}

.portfolio-item {
    display: flex;
    justify-content: center;
    flex-direction: column;  
    align-items: center;
    width: 100%;
    margin: 20px;  
}

.portfolio-item img {
    width: 65%;
}

@media screen and (max-width: 600px) {
    .portfolio-item img {
        width: 75%;
    }
}

@media screen and (max-width: 400px) {
    .portfolio-item img {
        width: 90%;
    }
}
footer {
    display: flex;
    justify-content: center;
}

#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
}

#contacts p {
    text-align: center;
}

#links li {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

#links {
    display: flex;
    width: 350px;
    justify-content: space-between;
}

.linkedin-icon {
    background:url(/images/linkedin.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
}

.instagram-icon {
    background:url(/images/instagram.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
}

.behance-icon {
    background:url(/images/behance.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
}

.strange-icon {
    background:url(/images/strange.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
}

.footer-text {
    text-align: center; 
    font-size: 14px;
    color: #828282;
}

#contact-button {
  align-items: center;
  text-decoration:none;
  background-color: #070707;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: baldGilroy;
  font-size: 18px;
  justify-content: center;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

#contact-button:hover,
#contact-button:focus { 
  background-color: #333333;
  color: #ffffff;
}

